table {
    width: 100%;
    color:aliceblue;
}
th{
    color:#a7bdd9;
}
tr:nth-child(even) {
    background-color:#7289a6;
}
button{
    background-color: red;
    border-radius: 1rem;
    color:aliceblue;
    padding:0.5rem;
    font-weight: bolder;
    border:none
}